.erreur {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;

    &__titre {
        font-size: 2rem;
        color: $bleu;
        margin-bottom: 10px;
    }

    &__message {
        font-size: 1rem;
        margin-bottom: 20px;
        color: black;
    }

    &__navigation {
        &__lien {
            display: inline-block;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            color: white;
            background-color: $bleu;
            padding: 10px 20px;
            border-radius: 6px;
            transition: background-color 0.3s;
    
            &:hover {
                background-color: darken($bleu, 10%);
            }
        }
    }
}

