.erreur {
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__titre {
      width:40vw;
      height:25vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.208);
      h1{
        color: $jaune;
        font-size: 2rem;
        color: $bleu;
        margin-bottom: 10px;
        font-weight: bold;
      }
      
    }

    &__message {
      width:40vw;
      height:10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 0.8rem;
        margin-bottom: 20px;
        color: $jaune;
      }
    }

    &__accueil{
      display: inline-block;
      background-color: $jaune;
      color: $bleu;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 15px 30px;
      border: none;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    &__destinations {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          gap: 10px;
    
          li {
            display: inline-block;
            background-color: $jaune;
            color: $bleu;
            font-weight: bold;
            font-size: 1rem;
            padding: 10px 15px;
            border: none;
            text-align: center;
            text-decoration: none;
          }
        }
      }

      .erreur__recherche input {
        background: transparent;
        border: none;
        border-bottom: 2px solid $jaune;
        color: $jaune;
        font-size: 1rem;
        padding: 5px;
        outline: none;
        width: 100%;
        
        &::placeholder {
            color: rgba($jaune, 0.6);
        }
    
        &:focus {
            border-bottom: 2px solid lighten($jaune, 10%);
        }
    }
    .recherche__bouton{
      display:none;
    }
    }

