.entete {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;

    @media screen and (max-width: $point__rupture) {
        width: 100%;
        background-color: beige;
        justify-content: space-between;
        padding: 10px;
        align-items: normal;
    }

    &__logo {
        padding: 1vw;
        @media screen and (max-width: $point__rupture) {
            z-index:1000;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 40px;
        flex-wrap: wrap;

        @media screen and (max-width: $point__rupture) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 70vh;
            background-color: beige;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked ~ .entete__nav {
        @media screen and (max-width: $point__rupture) {
            display: flex;
        }
    }

    &__burger {
        cursor: pointer;
        display: none;

        @media screen and (max-width: $point__rupture) {
            display: block;
            z-index: 1000;
        }
    }

    .menu {
        @media screen and (max-width: $point__rupture) {
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            margin-top: 15vh;
            
        }

        li{
            @media screen and (max-width: $point__rupture) {
                padding: 10px;
            }
        }
    }

    

    &__recherche{
        @media screen and (max-width: $point__rupture) {
            display:none;
        }
    }
}
