/*
  --------------------------------- Layout du pied de page
*/

footer{
    background-color: $couleur_footer;
    
    color : #000; 
  }
  
  .piedpage{
    
      display: flex;
      flex-direction: column;
    //   height:20vh;
    //   margin:0;
      &__s1{
          display: flex;
          flex-wrap: wrap;
          padding-left:2rem;
          gap: 3rem;

          &__externe {
            flex : 0 0 20%;
            & .menu { //ul
                display : flex;
                flex-direction: column;
            }
  
          }
          &__adresse{
              flex : 0 0 30%;
              width:10vw;
              gap:10px;
          }
          &__description{
              display:flex;
              flex-direction: column;
              justify-content: space-around;
              min-width:10vw;
          }
      }
      
  }
