/* Conteneur principal */
.populaire {
  display: flex;

  &__article {
    background: #fdfdfd;
    border-radius: 12px;
    padding: 25px;
    min-width: 540px;
  }

  &__titre {
    font-size: 2em;
    font-weight: bold;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
  }

  &__contenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__image {
    img {
      min-width: 100%;
      height: auto;
      object-fit: cover;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
  }

  &__description {
    flex: 2;
    min-width: 600px;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
  }

  // Température
  &__temp {
    flex: 1;
    max-width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    &-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 15px;
      padding-top: 0px;
    }

    p {
      font-size: 1.1rem;
      color: #333;
      margin: 5px 0;
      
      strong {
        font-weight: bold;
        color: #0066cc;
      }
    }
  }
}

/* Responsive */
@media (max-width: 1105px) {
  .populaire__contenu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .populaire__image, .populaire__description, .populaire__temp {
    max-width: 100%;
  }

  .populaire__image img {
    object-fit: cover;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
  }

  .populaire__description {
    min-width: 400px;
  }

  .populaire__temp {
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .populaire__temp-title {
    font-size: 1rem;
  }

  .populaire__temp p {
    display: inline-block;
    margin-right: 15px;
  }
}

@media (max-width: 1345px) {
  .populaire__contenu {
    align-items: center;
    justify-content: center;
  }

  .populaire__image {
    justify-content: center;
  }

  .populaire__temp {
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .populaire__temp-title {
    font-size: 1rem;
  }

  .populaire__temp p {
    display: inline-block;
    margin-right: 15px;
  }
}
