@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Liter&display=swap');
.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}
  
*{
    font-family: "Liter", serif;
}

  