.carte {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  flex: 0 0 280px;
  min-width: auto;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0), 0 2px 6px rgba(0, 0, 0, 0);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05);
  }

  &__image img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__titre {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
  }

  &__description {
    font-size: 16px;
    color: #666;
  }

  &__bouton {
    padding: 10px 20px;
    background-color: $bleu;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s, transform 0.2s ease;

    &:hover {
      background-color: $jaune;
      color: white;
      transform: translateY(-3px);
    }
  }

  &__categories {
    .post-categories {
      display: inline-flex;
      flex-direction: row;
      gap: 10px;
      padding-left: 0;
      list-style-type: none;
      max-width: 100%;

      & li {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        max-width: 100%;

        & a {
          padding: 8px 15px;
          background-color: $orange;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $jaune;
          }
        }
      }
    }
  }
}
