.recherche {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &__input {
        height: 1.8rem;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 1);
        border: 1px dotted rgba(0, 0, 0, 0.2);
        
        color:$bleu;
        font-size: 14px;
        font-family: "Liter", serif;

    }

    &__bouton{
        height: 1.8rem;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 1);
        border: 1px dotted rgba(0, 0, 0, 0.2);
    }

    &__img {
        flex: 0 0 20px;
        padding: 0 3px;
        background-color: rgba(255, 255, 255, 1);

    }

    @media screen and (max-width: $point__rupture) {
        display: none;
    }
}



