.vague-bas{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 0;
}
.vague-haut{
    position: absolute;
    bottom: 30vh;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 0;
}

